html,
body,
#app {
  height: 100%;
  margin: 0;
}
html,
body {
  max-width: 100%;
}
@media (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 2560px) {
  html {
    font-size: 22px;
  }
}
